.body {
    font-family: 'Quattrocento Sans', sans-serif;
}
.cta {
    background-color: brown;
}
.jumbotron-fluid{
    height: 400px;
}
.carousel-inner > .carousel-item > img {
    height:460px;
    width: 236px;
  }
h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}
