.body {
  font-family: 'Nunito Sans', sans-serif;
}

.nav-item {
  font-size: 18px;
  font-weight: bold;
}

.cta {
  background-color: #59091E;
  border-radius: 5px;
  text-transform: none;
}

.navbar .cta {
  font-size: 16px;
  font-weight: bold;
}

.card-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.card-sub {
  font-size: 20px;
}

.card-btn {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .card-btn {
    font-size: 15px;
  }
}

#customers .img-fluid {
  height: 4rem;
}

.fa-star {
  color: #D6A96B;
}

.gold-text {
  color: #D6A96B;
}

#benefits .bg {
  /* The image used */
  background: url('img/polygon.png');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.cta-secondary {
  background-color:#D6A96B;
  border-radius: 5px;
  font-size: 22px;
  text-transform: none;
}
.cta-outline {
  font-size: 16px;
  text-transform: none;
}
.icon-color {
  color: #D6A96B;
}
.imageBox {
  padding: 30px;
  height: 150px;
}
.white-space{
  height: 100px;
}
